<h1>Leads Dashboard</h1>

<%= form_with url: leads_dashboard_path, method: :get, local: true do %>
  <div>
    <%= label_tag :year, 'Select Year:' %>
    <%= select_tag :year, options_for_select((2010..Date.current.year).to_a.reverse, params[:year]), onchange: 'this.form.submit();' %>
  </div>
<% end %>

<div id="total-leads-over-time">
  <h2>Total Leads Over Time (Month)</h2>
  <%= line_chart @total_leads_over_time_month %>
</div>

<div id="total-leads-over-time">
  <h2>Total Leads Over Time (Week)</h2>
  <%= line_chart @total_leads_over_time_week %>
</div>

<div id="leads-by-status">
  <h2>Leads by Status</h2>
  <%= pie_chart @leads_by_status %>
</div>


<div id="top-lead-owners">
  <h2>Top Lead Owners</h2>
  <%= bar_chart @top_lead_owners %>
</div>