<h1>Client External Details</h1>

<%= link_to 'Import New Records', new_client_external_detail_path, class: 'btn btn-primary' %>
<%= button_to 'Sync All', sync_all_client_external_details_path, method: :post, class: 'btn btn-secondary' %>

<table class="table">
  <thead>
    <tr>
      <th>Client ID</th>
      <th>Client Number</th>
      <th>Client Name</th>
      <th>Phone Number</th>
      <th>Data Owner</th>
      <th>Sync Status</th>
    </tr>
  </thead>
  <tbody>
    <% @client_external_details.each do |detail| %>
      <tr>
        <td><%= detail.client_id %></td>
        <td><%= detail.client_number %></td>
        <td><%= detail.client_name %></td>
        <td><%= detail.client_phone_number %></td>
        <td><%= detail.data_owner %></td>
        <td><%= detail.sync_at ? 'Synced' : 'Not synced' %></td>
      </tr>
    <% end %>
  </tbody>
</table> 